<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Image Gallery: Registration</title>
</head>
<body>
	<h1>Registration</h1>
	<form action="registration.html" th:action="@{/register}" method="post">
		<fieldset>
		<label for="username">User:</label>
			<input type="text" name="username" /> <br/> 
			<label for="password">Passwort:</label>
			<input type="password" name="password" /><br/>
			<input type="submit" name="Sign up!" />
		</fieldset>
	</form>
</body>
</html>